/* Layout.css */

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-header {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  text-align: center;
}

.layout-main {
  flex: 1;
  display: flex;
}

.layout-footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}
